html, body{
    margin: 0;
    padding: 0;
    background: #42275a;
    background: -webkit-linear-gradient(to left, #42275a , #734b6d);
    background: linear-gradient(to left, #42275a , #734b6d);
    font-family: Helvetica;
}

h1, a{
    color: #e6e6e6;
    -webkit-transition: 250ms all ease-in-out;
    -moz-transition: 250ms all ease-in-out;
    -ms-transition: 250ms all ease-in-out;
    -o-transition: 250ms all ease-in-out;
    transition: 250ms all ease-in-out;
}

a{
    font-weight: bold;
}

h1:hover, a:hover{
    color: #fff;
    text-decoration: none;
}

div.file h1:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

a:hover{
    font-weight: bold;
}

.header{
    color: rgba(255,255,255,1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5em;
}

.file{
    padding-bottom: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}

.projekty{
    color: rgba(255,255,255,0.7);
    border-bottom: solid 1px rgba(255,255,255,0.4);
    margin-top: -1em;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.naglowek{
    color: rgba(255,255,255,0.7);
    border-bottom: solid 1px rgba(255,255,255,0.4);
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.file img{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.file img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.animacja{
    -webkit-transition: 250ms all ease-in-out;
    -moz-transition: 250ms all ease-in-out;
    -ms-transition: 250ms all ease-in-out;
    -o-transition: 250ms all ease-in-out;
    transition: 250ms all ease-in-out;
}

a{
    font-size: 1em;
    color: rgba(255,255,255,0.7);
}

a:hover{
    font-size: 1em;
    color: rgba(255,255,255,1);
}

.space{
    padding-left: 3em;
    padding-right: 3em;
}